<!DOCTYPE html>
<html>
<head>
    <title>JAiO</title>
    <meta charset="UTF-8">
    <meta lang="en_EN">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script>
        const page = {
            uuid: {{ page.uuid }}
        };
    </script>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="/assets/vendor/jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/dist/layout.js"></script>
</body>
</html>
