<!DOCTYPE html>
<html>
    <head>
        <title>JAiO</title>
        <meta charset="UTF-8">
        <meta lang="en_EN">
        <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/assets/css/layout.css">
    </head>
    <body>
        <div class="content container-fluid">{{ content|raw }}</div>
        <script type="text/javascript" src="/assets/vendor/jquery-3.2.1/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/dist/layout.js"></script>
    </body>
</html>
