<!DOCTYPE html>
<html>
    <head>
        <title>JAiO</title>
        <meta charset="UTF-8">
        <meta lang="en_EN">
        <link rel="stylesheet" href="/assets/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/vendor/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/assets/css/app.css">
    </head>
    <body>
        <div class="content container-fluid">
            {{ content|raw }}
        </div>

        <script type="text/javascript" src="/assets/vendor/jquery/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/dist/layout.js"></script>
    </body>
</html>